.card-container {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: stretch;
	border: solid 1px #3a3a3a;
	padding: 6px;
	border-radius: 12px;
}
.card-heading {
	display: flex;
	justify-content: space-between;
	margin: 6px 0;
}

.card-tip {
	font-size: smaller;
	padding: 0px 6px;
	max-width: min-content;
}

.card-img {
	overflow: hidden;
	display: flex;
	align-self: center;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 120px;
}

.card-info {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.card-badges {
	display: flex;
	align-items: center;
	justify-content: space-around;
}

.card-action-container {
	display: flex;
	flex-direction: column;
	background-color: #2a2a2a;
}

.card-prices {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
}

.card-prices-old {
	font-size: 0.7rem;
	color: #888;
	text-decoration: line-through;
	justify-self: flex-end;
}

.card-prices-new {
	justify-self: center;
}

.card-quantity-container {
	display: flex;
	justify-content: space-evenly;
}

.card-quantity-container > button {
	padding: 0 6px;
	height: min-content;
}
